<%= form_for @article do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class = "wrapper1">
<div class = "new">
<div class = "middle">
  <form class="form-horizontal">
  <div class="form-group space">

      <%= f.text_field :date, type: "date",  class: "form-control less", placeholder: "date input" %>

  </div>

  <form class="form-horizontal ">
  <div class="form-group space">

      <%= f.text_field :title, type: "title",  class: "form-control less", id: "inputEmail3", placeholder: "Title" %>

  </div>

  <form class="form-horizontal">
  <div class="form-group space">

      <%= f.text_area :text, type: "title",  class: "form-control less", placeholder: "Description", rows: "3" %>

  </div>
</div>
</div>

<!--
<p>
  <%= f.label :date %><br>
  <%= f.text_field :date %>
</p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_area :title%>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
-->

  <div class = "block">
    <%= f.submit class: "btn btn-primary move" %>
  </div>

</div>
<% end %>
