<%= form_for :article, url: articles_path do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class = "wrapper1">
<div class = "new">


  <form class="form-horizontal ">
    <div class="form-group space">
      <div class="col-sm-10 col-md-5 col-md-offset-4">
      <input type="date" class="form-control" placeholder="date input">
      </div>
    </div>


  <form class="form-horizontal ">
    <div class="form-group space">
      <div class="col-sm-10 col-md-5 col-md-offset-4">
        <input type="title" class="form-control" id="inputEmail3" placeholder="Title">

      </div>
    </div>

    <form class="form-horizontal ">
      <div class="form-group space">
        <div class="col-sm-10 col-md-5 col-md-offset-4">
          <textarea class="form-control" rows="3" placeholder="Title"></textarea>

        </div>
      </div>
</div>
<!--
<p>
  <%= f.label :date %><br>
  <%= f.text_field :date %>
</p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_area :title%>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
-->
  <p>
    <%= f.submit %>
  </p>

</div>
<% end %>
