<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>

<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/mnr3pjv.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>


<%= yield %>

<div class ="footer">

<div class="col-md-4 col-md-offset-4 col-xs-12 col-sm-6">
  <ul class ="mainwords tk-adelle">
    <li>SPONSOR</li>
    <li>ABOUT</li>
    <li>CONTACT</li>
  </ul>
</div>

<div class="col-md-4 col-xs-12 col-sm-6">
   <ul class ="social">
     <li><%= image_tag("instagram.png" , class: "img-responsive size")%></li>
     <li><%= image_tag("facebook.png" , class: "img-responsive size")%></li>
     <li><%= image_tag("linkedin.png" , class: "img-responsive size")%></li>
  </ul>
</div>
</div>

<!--<footer>
  <ul class ="mainwords">
    <li>Sponsor</li>
    <li>About</li>
    <li>Contact</li>
</ul>

<ul class ="social">
  <li>twitter</li>
  <li>facebook</li>
  <li>instagram</li>
</ul> -->


</footer>

</body>
</html>
