<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>

<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/mnr3pjv.js"></script>

</head>
<body>



<%= yield %>

<footer class="footer">
  <div class="container footerspace">
<div class = "col-md-3 col-sm-1 col-xs-12 col-xs-offset-0"></div>

  <div class="col-md-6 col-sm-7 col-xs-12 ">
    <ul class ="mainwords">
      <li>SPONSOR</li>
      <li>ABOUT</li>
      <li>CONTACT</li>
    </ul>
  </div>

  <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12">
    <ul class ="social">
      <li><%= image_tag("instagram.png" , class: "img-responsive size")%></li>
      <li><%= image_tag("facebook.png" , class: "img-responsive size")%></li>
      <li><%= image_tag("linkedin.png" , class: "img-responsive size")%></li>
    </ul>
</div>
</div>
</footer>



</body>
</html>
